.card {
  
  margin: 10px;
  transition: transform .5s; /* Animation */
}
.card-img {
  height: 234px !important;
  width: 150px !important;
}

.card:hover {
  transform: scale(1.2);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card-text {
  font-size: 90px;
}